src/Files/candies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="candies" type="candiesType"/>
  <xs:complexType name="ingredientsType">
    <xs:sequence>
      <xs:element type="xs:string" name="sugar"/>
      <xs:element type="xs:string" name="fructose"/>
      <xs:element type="xs:string" name="citric_acid" minOccurs="0"/>
      <xs:element type="xs:string" name="citic_acid" minOccurs="0"/>
      <xs:element name="natural_flavor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="artificial_flavor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candyType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="crazy bee"/>
            <xs:enumeration value="sharm"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="energy"/>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="jelly"/>
            <xs:enumeration value="chocolate"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ingredientsType" name="ingredients"/>
      <xs:element name="production">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="roshen"/>
            <xs:enumeration value="abk"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candiesType">
    <xs:sequence>
      <xs:element type="candyType" name="candy" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>